<div class='userInfoCont'>
  <h4 id='userMsg'>Login to record your score.</h4>
  <form id='login' action='/login' method='POST' >
    <input type='text' name='user[name]' placeholder='name'>
    <input type='text' name='user[password]' placeholder='password'>
    <button type="submit">Login</button>
    <button id='registerNow' action='/register' method='GET' type="submit">Register Now</button>
  </form>
</div>