<div class='userInfoCont'>
  <h4 id='userMsg'>Welcome, <%= current_user.name %>! Your highest score is <%= current_user.top_score %>.</h4>
  <button id='logout' action='/logout' type="submit">Log Out</button>
</div>