<div class='userInfoCont'>
  <h4 id='userMsg'>It's a good decision. :)</h4>
  <form id='login' action='/register' method='POST' >
    <input type='text' name='user[name]' placeholder='name'>
    <input type='text' name='user[password]' placeholder='password'>
    <input type='text' name='user[password_confirmation]' placeholder='password confirmation'>
    <button id='register' action='/register' method='POST' type="submit">Register</button>
  </form>
</div>