<div class='container' role='main'>
  <button id='newgame' class='btn bnt-lg bnt-primary' type="submit">New Game</button>
  <h2 id="numberToMake">Number to Make:
    <span id='question'></span>
    <span id='numOpNum'></span>
  </h2>

  <table align="center" id='board'>
    <tr id='row0'>
      <td class="cell" id='0'></td>
      <td class="cell" id='1'></td>
      <td class="cell" id='2'></td>
      <td class="cell" id='3'></td>
    </tr>
    <tr id='row1'>
      <td class="cell" id='4'></td>
      <td class="cell" id='5'></td>
      <td class="cell" id='6'></td>
      <td class="cell" id='7'></td>
    </tr>
    <tr id='row2'>
      <td class="cell" id='8'></td>
      <td class="cell" id='9'></td>
      <td class="cell" id='10'></td>
      <td class="cell" id='11'></td>
    </tr>
    <tr id='row3'>
      <td class="cell" id='12'></td>
      <td class="cell" id='13'></td>
      <td class="cell" id='14'></td>
      <td class="cell" id='15'></td>
    </tr>
  </table>

  <button type='button' class='btn bnt-lg bnt-primary' id='hint'>Hint</button>
  <h2 id='score'></h2>
</div>