<div class='container' role='main'>
  <button id='newgame' class='btn bnt-lg bnt-primary' type="submit">New Game</button>
  <h2 id="numberToMake">Number to Make:
    <span id='question'></span>
    <span id='numOpNum'></span>
  </h2>

  <table align="center" id='board'>
    <tr id='row0'>
      <td class="cell" id='0'><span class="insideTd"></span></td>
      <td class="cell" id='1'><span class="insideTd"></span></td>
      <td class="cell" id='2'><span class="insideTd"></span></td>
      <td class="cell" id='3'><span class="insideTd"></span></td>
    </tr>
    <tr id='row1'>
      <td class="cell" id='4'><span class="insideTd"></span></td>
      <td class="cell" id='5'><span class="insideTd"></span></td>
      <td class="cell" id='6'><span class="insideTd"></span></td>
      <td class="cell" id='7'><span class="insideTd"></span></td>
    </tr>
    <tr id='row2'>
      <td class="cell" id='8'><span class="insideTd"></span></td>
      <td class="cell" id='9'><span class="insideTd"></span></td>
      <td class="cell" id='10'><span class="insideTd"></span></td>
      <td class="cell" id='11'><span class="insideTd"></span></td>
    </tr>
    <tr id='row3'>
      <td class="cell" id='12'><span class="insideTd"></span></td>
      <td class="cell" id='13'><span class="insideTd"></span></td>
      <td class="cell" id='14'><span class="insideTd"></span></td>
      <td class="cell" id='15'><span class="insideTd"></span></td>
    </tr>
  </table>

  <button type='button' class='btn bnt-lg bnt-primary' id='hint'>Hint</button>
  <h2 id='score'></h2>
</div>